@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

$primary-color: #2d3142;
$text-color: #fff;
$font-family: "Oswald", sans-serif;
$background-color: #fbfefb;
$secondary-color: #ef8354;

body {
  font-family: $font-family;
  background-color: $background-color;
}
nav {
  background-color: $primary-color;

  .navbar-nav .nav-link {
    color: $text-color;
  }

  a {
    color: $text-color;

    &:hover {
      color: $secondary-color;
    }
  }

  li {
    color: $text-color;
  }
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-secondary[href],
.badge-secondary[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 12px;
  background: $secondary-color;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

// Order Card

@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}
