@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

$primary-color: #2d3142;
$text-color: #fff;
$font-family: "Oswald", sans-serif;
$background-color: #fbfefb;
$secondary-color: #ef8354;
$secondary-background-color: #e5e5e5;

body {
  font-family: $font-family;
  background-color: $background-color;
}
nav {
  background-color: $primary-color;

  .navbar-nav .nav-item {
    color: $text-color;
    .nav-link:hover {
      border: none;
      // border-bottom: 3px solid $secondary-color;
      box-shadow: 0 4px 1px -1px $secondary-color;
    }
    .nav-link:focus {
      border: none;
    }
  }

  a {
    color: $text-color;
  }

  li {
    color: $text-color;
  }
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-secondary[href],
.badge-secondary[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 12px;
  background: $secondary-color;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.custom-select:focus {
  outline: 0 !important;
  border: 1px solid #ef8354;
  box-shadow: 0 0 0 1px #ef8354;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

// Navbar

.nav-item {
  a {
    position: relative;
    &::after {
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
      height: 10px;
      width: 100%;
      background-color: $secondary-color;
      transform-origin: 0% 100%;
      transition: transform 0.35s;
    }
    &:hover::after {
      transform: scaleY(3.5);
    }
  }
}

// Order Card

@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}

// Search Bar
.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

// Search Bar
.input-group {
  .scrollable-dropdown {
    height: auto;
    max-height: 320px; /* Increase / Decrease value as per your need */
    overflow-x: hidden;
  }

  .button {
    color: #fff;
    margin-left: 10px;
    height: 50px;
    border-radius: 0.25rem;
  }

  .form-control-lg {
    width: 70%;
    margin-top: 10%;
  }
}

// Product Card

.card {
  .card-body {
    background-color: $background-color;
    color: $primary-color;

    .card-title {
      font-weight: bold;
    }
  }

  .buy {
    a {
      background-color: $secondary-color;
      color: #fff;
      width: 50%;
      margin: 1%;

      &:hover {
        background-color: $background-color;
        color: $secondary-color;
        box-shadow: 0 0 0 2px $secondary-color;
      }
    }

    button {
      background-color: $secondary-color;
      color: #fff;
      width: 50%;
      margin: 1%;
      &:hover {
        background-color: $background-color;
        color: $secondary-color;
        box-shadow: 0 0 0 2px $secondary-color;
      }
    }
  }
}

// Shop
.load-more-custom {
  width: 30%;
  background-color: $secondary-color;
  color: $text-color;
  &:hover {
    background-color: $background-color;
    color: $secondary-color;
    box-shadow: 0 0 0 2px $secondary-color;
  }
}

// Shopping Cart

.shopping-header {
  padding: 10%;
  background-color: $secondary-background-color;
  width: 100%;
}

.custom-button {
  margin-top: 45%;
  margin-left: 10%;
}

.cart {
  a {
    background-color: $secondary-color;
    color: #fff;
    width: 20%;
    margin: 1%;

    &:hover {
      background-color: $background-color;
      color: $secondary-color;
      box-shadow: 0 0 0 2px $secondary-color;
    }
  }
}

// Home Page

.container-fluid {
  position: relative;
  color: $primary-color;
  padding-left: 0;
  padding-right: 0;

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: $text-color;
    transform: translate(-50%, -50%);

    a {
      width: 40%;
      background-color: $secondary-color;
      color: $text-color;
      margin-top: 4%;

      &:hover {
        background-color: $background-color;
        color: $secondary-color;
        box-shadow: 0 0 0 2px $secondary-color;
      }
    }
  }
}

// Product Page
$primary-color: #2d3142;
$secondary-color: #ef8354;
$background-color: #fbfefb;
$color-green: #8ac926;
$color-red: #bf0603;

body {
  background-color: $background-color;
}
.header {
  text-align: center;
  font-size: 50px;
  background-color: #fff;

  font-weight: 800;
}

.custom-card {
  background-color: #fff;
  box-shadow: 0 0 0 2px #000;
  width: 50%;
}

hr {
  border: 1px solid #fff;
}

.custom-checkout-comp {
  margin-top: 10%;
  background-color: $secondary-background-color;
  max-height: 450px;
}

.custom-checkout-button {
  text-align: center;
  color: #fff;
  font-size: 15px;
  margin-bottom: 5%;
  background-color: $secondary-color;
  width: 50%;
  padding: 15px;

  &:hover {
    background-color: #fff;
    color: $secondary-color;
    box-shadow: 0 0 0 2px $secondary-color;
  }
}

.custom-info {
  width: 100%;
  background-color: $primary-color;
  text-align: center;
}

.custom-product-info {
  font-size: 24px;
  padding-bottom: 5%;
}

.custom-product-content {
  font-size: 20px;
  font-weight: 400;
}

.product-header {
  text-align: left;
  font-size: 60px;
  font-weight: bold;
}

.product-description {
  text-align: left;
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 10px;
}

.product-price {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}
.custom-select {
  width: 80%;
}

.custom-like {
  button {
    width: 10%;
  }
}

.custom-back {
  margin-bottom: 2%;
  background-color: $secondary-color;
  padding: 15px;
  text-align: center;
  width: 15%;
  border-radius: 0.25rem;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: $secondary-color;
    box-shadow: 0 0 0 2px $secondary-color;
  }
}

.custom-addcart {
  text-align: center;
  color: #fff;
  background-color: $secondary-color;
  width: 100%;
  padding: 15px;

  &:hover {
    background-color: #fff;
    color: $secondary-color;
    box-shadow: 0 0 0 2px $secondary-color;
  }
}

.in-stock {
  background-color: $color-green;
  color: #fff;
  padding: 10px;
  border-radius: 0.15rem;
}

.out-of-stock {
  background-color: $color-red;
  color: #fff;
  padding: 10px;
  border-radius: 0.15rem;
}

.added-time {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.panel-body {
  .post-button {
    width: 10%;
    color: #fff;
    background-color: $secondary-color;

    &:hover {
      background-color: #fff;
      color: $secondary-color;
      box-shadow: 0 0 0 2px $secondary-color;
    }
  }
}

.pull-right {
  button {
    padding: 1px;
    width: 40px;
  }
}

.media-list {
  margin-bottom: 10%;
  padding-inline-start: 0;

  .media-body {
    border: 5px solid $secondary-color;
    padding: 10px;
    color: $primary-color;
    border-radius: 0.25rem;
    margin-top: 10px;
  }
}

// Admin Orders

.card-read-more {
  button {
    width: 20%;
    margin-left: 20%;
  }
}

// Admin Products

.add-product {
  .custom-select {
    width: 100%;
    height: 55px;
  }

  button {
    width: 20%;
    font-size: 20px;
    background-color: $secondary-color;
    color: $text-color;

    &:hover {
      background-color: #fff;
      color: $secondary-color;
      box-shadow: 0 0 0 2px $secondary-color;
    }
  }
}

// Admin Dashboard
$bg: #1b2431;
$light-text: #738297;
$dark-text: #273142;
$light-bg: #313d4f;

a:hover {
  text-decoration: none;
}

p,
figure {
  margin: 0;
  padding: 0;
}

@mixin clear() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.navbar {
  background-color: $bg;
}

.sidebar {
  background-color: $bg;
  box-shadow: none;

  .nav-link {
    border-left: 5px solid transparent;
    color: $light-text;
    padding: 0.5rem 0.75rem;

    &:hover {
      color: white;
    }

    &.active {
      border-left: 5px solid $light-text;
      color: white;
    }
  }

  .zmdi {
    display: inline-block;
    font-size: 1.35rem;
    margin-right: 5px;
    min-width: 25px;
  }
}

.nav-item {
  padding: 10px;
}

.card-list {
  @include clear();
  width: 100%;
}

.card {
  border-radius: 8px;
  padding: 10px;
  position: relative;

  .zmdi {
    color: white;
    font-size: 28px;
    opacity: 0.3;
    position: absolute;
    right: 13px;
    top: 13px;
  }

  .stat {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 8px;
    margin-top: 25px;
    padding: 10px 10px 0;
    text-transform: uppercase;
  }

  .title {
    display: inline-block;
    font-size: 8px;
    padding: 10px 10px 0;
    text-transform: uppercase;
  }

  .value {
    font-size: 28px;
    padding: 0 10px;
  }

  &.blue {
    background-color: #2298f1;
  }

  &.green {
    background-color: #66b92e;
  }

  &.orange {
    background-color: #da932c;
  }

  &.red {
    background-color: #d65b4a;
  }
}

.projects {
  background-color: $dark-text;
  border: 1px solid $light-bg;
  overflow-x: auto;
  width: 100%;

  &-inner {
    border-radius: 4px;
  }
}

.projects-header {
  color: white;
  padding: 22px;

  .count,
  .title {
    display: inline-block;
  }

  .count {
    color: #738297;
  }

  .zmdi {
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin: 5px 0;
  }

  .title {
    font-size: 21px;

    + .count {
      margin-left: 5px;
    }
  }
}

.projects-table {
  background: #273142;
  width: 100%;

  td,
  th {
    color: white;
    padding: 10px 22px;
    vertical-align: middle;
  }

  td p {
    font-size: 12px;

    &:last-of-type {
      color: $light-text;
      font-size: 11px;
    }
  }

  th {
    background-color: $light-bg;
  }

  tr {
    &:hover {
      background-color: lighten($dark-text, 5%);
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid $light-bg;
    }
  }

  .member {
    figure,
    .member-info {
      display: inline-block;
      vertical-align: top;
    }

    figure + .member-info {
      margin-left: 7px;
    }

    img {
      border-radius: 50%;
      height: 32px;
      width: 32px;
    }
  }

  .status > form {
    float: right;
  }

  .status-text {
    display: inline-block;
    font-size: 12px;
    margin: 11px 0;
    padding-left: 20px;
    position: relative;

    &:before {
      border: 3px solid;
      border-radius: 50%;
      content: "";
      height: 14px;
      left: 0;
      position: absolute;
      top: 1px;
      width: 14px;
    }

    &.status-blue:before {
      border-color: #1c93ed;
    }

    &.status-green:before {
      border-color: #66b92e;
    }

    &.status-orange:before {
      border-color: #da932c;
    }

    &.status-red:before {
      border-color: #d65b4a;
    }
  }
}
// selectric plugin styling
.selectric {
  background-color: transparent;
  border-color: $light-bg;
  border-radius: 4px;
  .label {
    color: $light-text;
    line-height: 34px;
    margin-right: 10px;
    text-align: left;
  }
  &-wrapper {
    float: right;
    width: 150px;
  }
}
// charts
.chart {
  border-radius: 3px;
  // box-shadow: 0 0 10px -3px black;
  border: 1px solid $light-bg;
  color: white;
  padding: 10px;
  position: relative;
  text-align: center;

  canvas {
    height: 400px;
    margin: 20px 0;
    width: 100%;
  }

  .actions {
    margin: 15px;
    position: absolute;
    right: 0;
    top: 0;

    span {
      cursor: pointer;
      display: inline-block;
      font-size: 20px;
      margin: 5px;
      padding: 4px;
    }

    .btn-link {
      color: white;

      i {
        font-size: 1.75rem;
      }
    }
  }

  .title {
    font-size: 18px;
    margin: 0;
    padding: 15px 0 5px;
    + .tagline {
      margin-top: 10px;
    }
  }

  .tagline {
    font-size: 12px;
  }
}

.danger-item {
  border-left: 4px solid #a84d43;
}

.zmdi {
  line-height: 1;
  vertical-align: middle;
}
