@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

$primary-color: #2d3142;
$text-color: #fff;
$font-family: "Oswald", sans-serif;
$background-color: #bfc0c0;
$secondary-color: #ef8354;

body {
  font-family: $font-family;
  background-color: $background-color;
}
nav {
  background-color: $primary-color;

  .navbar-nav .nav-link {
    color: $text-color;
  }

  a {
    color: $text-color;

    &:hover {
      color: $secondary-color;
    }
  }

  li {
    color: $text-color;
  }
}
